# ==========================================
# Nama File: .env.example
# Deskripsi: Konfigurasi lingkungan/environment aplikasi
# Penulis:   ????
# Tanggal:   DD-MM-YYYY
# Catatan:
#   - JANGAN PERNAH DI PUSH KE GITHUB/VERSION CONTROL LAINNYA
#   - Berisi variabel rahasia seperti secret key
# ==========================================

FLASK_SECRET_KEY=isi_dengan_kunci_rahasia_anda_di_sini  <---
