# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env 
venv/

# VS Code Config
.vscode

# Database
myfinance.db
/backups

# Notes
*.txt
/notes

# Development
clean_python.bat
clean_web.bat

# Code Cleaning Configurations
.djlintrc
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
.stylelintrc.json

# Node.js Dependencies
/node_modules
package-lock.json
package.json