/* ==========================================
   Nama File: analisa.css
   Deskripsi: CSS khusus halaman analisa
   Penulis:   Fawwaz Yaqzhan
   Tanggal:   08-06-2026
   Catatan:
     - Mengatur tampilan halaman analisa
   ========================================== */

   /* ==========================================================================
   Header Konten & Tata Letak Tombol
   ========================================================================== */
.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.content-header h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-main);
}

.content-header div, .content-header {
    gap: 8px;
}
