<!--
  Nama File: analisa.html
  Deskripsi: Halaman Analisa   
  Penulis:   Fawwaz Yaqzhan
  Tanggal:   08-06-2026
  Catatan:
    - Menampilkan DSS
    - Menampilkan data mining
-->
{% extends "base.html" %}
{% block title %}Analisa - MyFinance{% endblock %}

{% block extra_css %}

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/analisa.css') }}">
{% endblock %}

{% block content %}

    <div class="content-header">
        <h1>Daftar Akun</h1>
    </div>
    <div class="container">
        <h1>Analisis AI/BI Keuangan</h1>
        <p>Status: Menggunakan metode AI-Assisted lokal.</p>
        
        <div class="chart-container">
            <canvas id="chartAnalisa"></canvas>
        </div>
    </div>    

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/vendor/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/analisa.js') }}"></script>
{% endblock %}
