<!--
  Nama File: laporan.html
  Deskripsi: Halaman laporan
  Penulis:   Fawwaz Yaqzhan
  Tanggal:   07-04-2026
  Catatan:
    - Menampilakn laporan akhir bulan
-->

{% extends "base.html" %}

{% block title %}Akun - MyFinance{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laporan.css') }}">
{% endblock %}

{% block content %}

{% endblock %}

{# 4. Menambah JS khusus halaman transaksi saja #}
{% block extra_js %}
<script src="{{ url_for('static', filename='js/laporan.js') }}"></script>
{% endblock %}
